DB_NAME=catalog
DB_USER=catalog
DB_PASSWORD=change-this-database-password

READER_USERNAME=reader
READER_PASSWORD=change-this-reader-password
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password
